<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
<div class="post">
    <h1>Title:</h1>
    <p>Description:</p>
</div>
    <script>
        // const color = () =>{
        //     let arr = ["orange", 'pink', 'green', 'skyblue',"gold"];
           
        //     arr.forEach((item,index)=>{
        //     let a = Math.ceil(Math.random()*4);   
        //         document.getElementsByClassName("post")[0].style.backgroundColor = arr[a];
        //     })
        // }
    </script>
    
</body>
</html>