<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="home">
        <h1>Welcome to Blog Post App</h1>
        <p>This Blog Website is created to Test & Practice the knowledge of Node, Express, MongoDB.</p>  
    </div>
    
</body>
</html>