/* ==============      TEXT TAG CSS       ============== */

h1{
    margin: 10px 0;
}
h5{
    margin: 5px 0;
}
p{
    margin: 15px 0;
    text-align: justify;
}

/* ==============      NAVBAR CSS       ============== */

.navbar{
    border-radius: 15px;
    background: gold;
    font-size: 1.2rem;
}

/* ==============      HOME PAGE       ============== */
.home{
    text-align: center;
    width: 70%;
    margin: 40px auto;
}

.home p{
    text-align: center;
}

/* ==============      BLOG PAGE       ============== */
.feature-div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 6px;
    margin: 30px auto 0;
    
}
.post{
    margin: 30px auto;
    width: 80%;
    padding: 10px 20px;
    border-radius: 15px;
    border-left: red solid 6px;
    box-shadow: -1px 0px 2px  red ;
}

/* ==============      COMPOSE PAGE       ============== */
.compose{
    background-color: pink;
    width: 40%;
    margin:  20px auto;
}

/* ==============      UPDATE/EDIT FEATURE         ============== */
.update{
    background-color: greenyellow;
    width: 40%;
    margin:  20px auto;
}

/* ==============      DELETE + EDIT FEATURE       ============== */
.btn-del, .btn-edit{
    float: right;
    background-color:red;
    border-radius: 8px;
    width: 8%;
    border-color:antiquewhite;
    color:white;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

/* ==============      POST COUNT FEATURE         ============== */
.count{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blog-count{
    padding: 20px;
    border-left: 6px red solid ;
}
